/*1.전체 선택지*/
* {
  color: blue;
}
/*2.태그 선택자*/
p {
  color: red;
}
/*3.클래스 선택자*/
.notice {
  background: yellow;
}
/*4.아이디 선택자*/
#only-one {
  background-color: lime;
}
/*5.그룹 선택자*/
.group-a,
.group-b {
  background-color: cyan;
}
/*6.조합 선택자 */
/*자손 선택자*/
.combo.p {
  color: green;
}
/*자식 선택자*/
.combo > p {
  background: yellow;
}
/*형제 선택자
+ 바로 다음,~:뒤에 있는 모든 형제
*/
.sib + .sib {
  background: orange;
}
#sib ~ .sib {
  color: brown;
}
/*7. 손성 선택자*/

/*8. 선택/반응 선택자*/
.btn:hover {
  background: gold;
}
input:check + label {
  color:;
}
/*9.구조 선택자 */
.list li:first-chlid {
  background: yellow;
}
.list li:last-chlid {
  background: orange;
}
.list li:last-chlid {
  background: lightblue;
}
.list li:last-chlid {
  background: navy;
}

/*11. :is, where-묶는 선택자*/
:is(header, footer) a {
}
