.box {
  background: lightblue;
  border: 2px solid;
  margin: 10px;
}
.fixed {
  width: 200px;
  height: 100px;
}
.parent {
  background: pink;
  height: 200px;
  /* 부모 높이가 정해져 있지 않으면 
        % height는 계산할 기준이 없다. */
}
.percent {
  width: 50%;
  height: 50%;
}
/* padding, margin */
.space {
  background: lightyellow;
  border: 1px solid;
  margin-bottom: 10px;
}
#padding1 {
  padding: 20px;
}
#padding2 {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 40px;
  /* top right bottom left */
  padding: 30px 20px 40px 10px;
  /* top right/left bottom */
  padding: 30px 20px 40px;
  /* top/bottom right/left */
  padding: 30px 20px;
}
#margin1 {
  margin: 20px;
}
/* margin collapse(상쇄) 현상 */
#margin2 {
  margin: 30px 15px 10px 30px;
}
#margin3 {
  width: 200px;
  margin: auto;
}
/* border */
.border {
  width: 100px;
  height: 100px;
  background: #eee;
}
/* border: 테두리굵기 유형 색상 */
#border1 {
  /* solid : 실선, dashed : 점선, dotted : 도트 */
  border: 3px dotted red;
}
#border2 {
  border: 5px solid green;
  border-radius: 10px;
}
#border3 {
  border: 4px solid orange;
  border-radius: 50%;
}
/* box-sizing */
.box-sizing {
  width: 300px;
  height: 200px;
  background-color: lightcoral;
  margin: 10px;
  border: 10px solid;
  padding: 20px;
}
.box-content {
  box-sizing: content-box;
}
.box-border {
  box-sizing: border-box;
}
/* display */
.display {
  background-color: pink;
  width: 150px;
  height: 80px;
  margin: 5px;
}
.display-inline {
  /* inline : width, height 값 X
     inline-block : width, height 값 O
  */
  display: inline-block;
}
.display-block {
  display: block;
}
/* float, clear */
.float {
  /* left or right */
  float: right;
  width: 80px;
  height: 80px;
  background: skyblue;
  margin: 5px;
  text-align: center;
  line-height: 80px;
}
/* position */
.outer {
  width: 400px;
  height: 300px;
  background: #f4f4f4;
  position: relative;
  overflow: auto;
}
.position-box {
  width: 100px;
  height: 100px;
}
.relative {
  background: orange;
  position: relative;
  /* top or bottom / left or right */
  top: 20px;
  left: 20px;
  z-index: 1;
}
.absolute {
  background: green;
  position: absolute;
  z-index: 2;
  bottom: 20px;
  right: 20px;
}
.fixed-p {
  position: fixed;
  background: red;
  top: 20px;
  right: 20px;
  z-index: 3;
}
.sticky {
  background: blue;
  position: sticky;
  top: 0px;
}
/* hiden vs none */
.vd {
  width: 100px;
  height: 100px;
  background: lightgrey;
  margin: 10px;
  display: inline-block;
}
.hidden {
  /* 보이지는 않는데 있었던 자리 그대로 */
  visibility: hidden;
}
.none {
  /* 존재 자체를 화면에서 없앰 */
  display: none;
}
