.container {
  display: flex;
  background: #f0f0f0;
  border: 1px solid #ccc;
  padding: 1rem;
  height:;
}
.item {
  background: white;
  border: 2px solid #333;
  padding: 1rem;
  text-align: center;
}
/*flex-direction*/
.fd {
  /*column: 세로방향 ,row:가로방향
    column-reverse: 세로반대방향
    row-reverse: 가로 반대방향*/
  flex-direction: column-reverse;
}
/*justify-content*/
.ja {
  justify-content: flex-start;
}
.ja {
  height: 300px;
  flex-direction: column;
  /*justify-content :주축정렬
  align-items : 교차축 정렬*/
  /*flex-start 왼쪽/상단 정렬,
     flex end : 오른쪽 정렬,
     center : 가운데 정렬
     space-between : 양 끝 정렬
     space-enenly : 동일 간격 정렬*/
  justify-content: flex-start;
  align-items: end;
}
/*flex-wrap*/
.fw {
  height: 400px;
  /*nowrap :줄바꿈x
  wrap : 줄바꿈 ㅇ
  wrap-reverse : 역방향 줄바꿈*/
  flex-wrap: wrap;
  /*여러줄인 경우만 사용 가능*/
  align-content: space-between;
}
.fw {
}
.fw .item {
  width: 100px;
  height: 100px;
}
.as .self-start {
  align-self: center;
}
.as .self-center {
  align-self: end;
}
/*order*/
.order1 {
  order: 1;
}
.order2 {
  order: 2;
}}
.order3 {
  order: -1;
}
/*gap 아이템 사이 간격*/
.gap {
    gap: 20px
}
/*flex-grow : 남는 공간 분배*/
.grow-1 {
    flex-grow: 1;
}
.grow-2 {
    flex-grow: 2;
}
.grow-3 {
    flex-grow: 3;
}
/*flex-shrink : 부족한 공간 압축
0- 아예 줄어들지 않음*/
.shrink .item {
    width: 200px;
}
.shrink-1 {
    flex-shrink: 0;
}
.shrink-2 {
    flex-shrink: 2;
}
/*flex-basis*/
.basis-1 {
    flex-basis:100px;
}
.basis-2 {
    flex-basis: 200px;
    flex-shrink: 0;
}
.basis-3 {
    /*flex :flex-grow flex-shrink flex-basis
    flex : 1 1 0*/
flex:1 ;
}